name: Build and deploy to production

on:
    push:
        branches:
            - main

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout the repository
              uses: actions/checkout@v2

            - name: Set up Node.js
              uses: actions/setup-node@v2
              with:
                  node-version: 16

            - name: Build the app
              run: |
                  npm ci
                  npm run build

            - name: Login to Docker Hub
              uses: docker/login-action@v1
              with:
                  username: ${{ secrets.DOCKER_HUB_USERNAME }}
                  password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v1

            - name: Build and push
              uses: docker/build-push-action@v2
              with:
                  context: .
                  file: ./Dockerfile
                  builder: ${{ steps.buildx.outputs.name }}
                  push: true
                  tags: ${{ secrets.DOCKER_HUB_USERNAME }}/portico:latest
                  cache-from: type=registry,ref=${{ secrets.DOCKER_HUB_USERNAME }}/portico:buildcache
                  cache-to: type=registry,ref=${{ secrets.DOCKER_HUB_USERNAME }}/portico:buildcache,mode=max

            - name: Add deployment server to known hosts
              env:
                  PROD_HOST_IP: ${{ secrets.PROD_HOST_IP }}
              run: |
                  mkdir -p ~/.ssh
                  ssh-keyscan -H "$PROD_HOST_IP" > ~/.ssh/known_hosts

            - name: Add SSH key
              env:
                  SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
              run: |
                  echo "$SSH_PRIVATE_KEY" > ~/.ssh/deploy
                  chmod 600 ~/.ssh/deploy

            - name: Deploy
              env:
                  PROD_HOST_IP: ${{ secrets.PROD_HOST_IP }}
                  PROD_USER: ${{ secrets.PROD_USER }}
              run: |
                  ssh -i ~/.ssh/deploy "docker service update portico"
